<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span><ul class="toc-item"><li><span><a href="#Создание-1-модели-по-формуле" data-toc-modified-id="Создание-1-модели-по-формуле-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Создание 1 модели по формуле</a></span></li><li><span><a href="#Создание-2-модели,-умножив-признаки-на-обратимую-матрицу" data-toc-modified-id="Создание-2-модели,-умножив-признаки-на-обратимую-матрицу-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Создание 2 модели, умножив признаки на обратимую матрицу</a></span></li></ul></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('/datasets/insurance.csv')

In [3]:
df

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0       1     41.0   49600.0            1                  0
1       0     46.0   38000.0            1                  1
2       0     29.0   21000.0            0                  0
3       0     21.0   41700.0            2                  0
4       1     28.0   26100.0            0                  0
...   ...      ...       ...          ...                ...
4995    0     28.0   35700.0            2                  0
4996    0     34.0   52400.0            1                  0
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

[5000 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [5]:
df.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

После первичного осмотра данных можно заметить, что пропуски отсутствуют, аномалий обнаружено не было, все типы данных соответствуют. В предобработке данные не нуждаются

## Умножение матриц

### Создание 1 модели по формуле

In [6]:
#Разделение выборки на тестовую и тренировочную
features = df.drop(['Страховые выплаты'],axis=1)
target = df['Страховые выплаты']

train_features, test_features, train_target, test_target = train_test_split(features,target, test_size=0.2, random_state=12345,shuffle=True)

In [7]:
class LinearRegression:
    def fit(self, train_features, train_target):
        X = np.concatenate((np.ones((train_features.shape[0], 1)), train_features), axis=1)
        y = train_target
        w = (np.linalg.inv(X.T.dot(X)).dot(X.T)).dot(y)
        self.w = w[1:]
        self.w0 = w[0]

    def predict(self, test_features):
        return test_features.dot(self.w) + self.w0

In [8]:
model = LinearRegression()
model.fit(train_features, train_target)
predict = model.predict(test_features)

R2_score_1 = r2_score(test_target, predict)
MSE_1 = mean_squared_error(predict,test_target)

print("R2_score:", R2_score_1)
print("MSE:", MSE_1)

R2_score: 0.41176839567704737
MSE: 0.11005813316882444

### Создание 2 модели, умножив признаки на обратимую матрицу

In [9]:
#создание обратимой матрицы
matrix=np.random.normal(3, size=(4,4))
np.linalg.inv(matrix)

array([[-0.58595929,  0.94467112, -0.16849536, -0.07351793],
       [ 0.93111891, -1.10498327,  0.49334361, -0.28458468],
       [-0.38966227, -0.05997866,  0.07811602,  0.45712856],
       [ 0.17421873,  0.26840182, -0.37488138,  0.03137053]])

In [10]:
#Умножение признаков на обратимую матрицу
train_features_matrix=train_features.dot(matrix)
train_features_matrix.columns = train_features.columns
train_features_matrix.head()

                Пол        Возраст       Зарплата   Члены семьи
317   173685.892707  151806.496427  119666.418755  40480.439103
4143  149335.117711  130512.034414  102875.986527  34841.065971
4252  221764.404345  193819.017811  152780.211704  51716.848620
710   170663.568741  149160.893859  117580.724459  39789.901462
148   170225.060493  148777.109528  117276.271280  39685.245386

In [11]:
test_features_matrix = test_features.dot(matrix)
test_features_matrix.columns = test_features.columns
test_features_matrix.head()

                Пол        Возраст       Зарплата   Члены семьи
3183  170251.394410  148799.199815  117299.309254  39707.280607
1071  188196.452688  164475.417513  129651.839212  43908.698427
2640  183790.274842  160629.035782  126616.094501  42862.213710
2282  151871.742151  132738.224401  104631.771380  35395.967070
1595  174644.305423  152635.096356  120322.731568  40743.362090

In [12]:
#Проверка качетсва модели
model_2 = LinearRegression()
model_2.fit(train_features_matrix,train_target)
predictions_t= model_2.predict(test_features_matrix)
print("R2_score Линейной регрессии изменённой матрицы:", r2_score(test_target,predictions_t))
print("MSE Линейной регрессии изменённой матрицы:", mean_squared_error(predictions_t,test_target))

R2_score Линейной регрессии изменённой матрицы: 0.411768383991695
MSE Линейной регрессии изменённой матрицы: 0.11005813535515387

**Ответ:** При умножении признаков на обратимую матрицу, качество линейной регрессии не изменится

**Обоснование:** Если мы будем умножать признаки на обратную матрицу, то 
$$
a = Xw
$$
$$
a_1 = X_1 w_1, где X_1 = XZ.
$$

Нужно доказать, что:   
$$
a_1 = a, т.е. X_1 w_1 = Xw
$$

**Доказательство** 

$$
w_1 = ((XZ)^T (XZ))^{-1} (XZ)^T y
$$

Где Z-обратная матрица 

Следовательно при объединении формул:
$$
a_1 = (XZ) ((XZ)^T (XZ))^{-1} (XZ)^T y 
$$

Так как 
$(AB)^{-1} = B^{-1}A^{-1}$

$$
a_1 = (XZ) ((XZ)^T)^{-1} (XZ)^{-1} (XZ)^T y =  XZ ((XZ)^T)^{-1} X^{-1} Z^{-1} (XZ)^T y
$$

так как $ZZ^{-1} = E$ то:

$$
a_1 = XE ((XZ)^T)^{-1}  X^{-1} (XZ)^T y 
$$

Так как $(AB)^T = A^T B^T$

$$
a_1 = XE (X^T)^{-1} (Z^T)^{-1} X^{-1} X^T Z^T y 
$$

Так как $(Z^T)^{-1}  Z^T = E$, a $AE=A$, то

$$
a_1 = X (X^T)^{-1} X^{-1} X^T y  = X (X^T X)^{-1} X^T y 
$$

Произведем замену:

$$
a_1 = Xw
$$

Следовательно 

$$
a_1 = a
$$


$$
a_1 = (XZ) ((XZ)^T (XZ))^{-1} (XZ)^T y  =
$$
$$
= (XZ) (Z^T X^T XZ)^{-1} (XZ)^T y =  
$$

$$
(XZ) (Z^T X^T XZ)^{-1} Z^T X^T = 
$$
$$
= XZ Z^{-1} (X^T X)^{-1} (Z^T)^{-1} Z^T X^T y  =
$$

$$
= X Z Z^{-1} (X^T X)^{-1}  X^T y =
$$

$$
= X E (X^T X)^{-1} X^T y = X (X^T X)^{-1} X^T y =
$$

## Алгоритм преобразования

**Алгоритм**

1. Составление матрицы
2. Проверка ее на обратимость
3. Умножение матрицы признаков на матрицу
4. Применение алгоритма на преобразованных признаках

**Обоснование**

Если мы произведём умножение признаков тренировочной и тестовой выборок на одну и ту же обратимую матрицу, то результатом предсказания будет произведение нашей изменённой таблицы с признаками на вектор, который был получен из той же таблицы с изменёнными данными увеличенную на ту же величину, что и признаки тренировочных данных.

## Проверка алгоритма

In [13]:
# Создание матрицы и проверка на обратимость
matrix_2=np.random.normal(3, size=(4,4))
np.linalg.inv(matrix_2)

array([[ 0.46386778,  1.25611863, -0.19243028, -1.31806545],
       [-0.53514804, -2.53553016,  0.8494483 ,  1.77399542],
       [ 0.26291396,  0.13680006, -0.44251469,  0.29577168],
       [ 0.18687502,  2.66486967, -0.6307547 , -1.58309631]])

In [14]:
#Умножение признаков на матрицу
features_train_new =train_features.dot(matrix_2)
features_train_new.columns = train_features.columns
display(features_train_new.head())

features_test_new =test_features.dot(matrix_2)
features_test_new.columns = test_features.columns
features_test_new.head()

                Пол        Возраст       Зарплата    Члены семьи
317   160831.909298  227542.753795   82392.268221  136466.819957
4143  138241.358690  195597.868312   70839.478220  117321.273278
4252  205316.734759  290492.468855  105198.493924  174231.439738
710   158017.125177  223567.773644   80958.326752  134088.161043
148   157611.453104  222992.634170   80748.798706  133742.910470

                Пол        Возраст      Зарплата    Члены семьи
3183  157624.740971  223019.551297  80765.673273  133763.267790
1071  174213.974002  246500.056028  89274.517094  147854.190606
2640  170156.372790  240745.951008  87183.712175  144395.163625
2282  140628.155909  198958.771315  72041.441492  119324.801585
1595  161678.101789  228760.674480  82849.233905  137211.187894

In [15]:
#Добавление в нулевой столбец значений 1
X = np.concatenate((np.ones((features_train_new.shape[0], 1)), features_train_new), axis=1)
pd.DataFrame(X).head()

     0              1              2              3              4
0  1.0  160831.909298  227542.753795   82392.268221  136466.819957
1  1.0  138241.358690  195597.868312   70839.478220  117321.273278
2  1.0  205316.734759  290492.468855  105198.493924  174231.439738
3  1.0  158017.125177  223567.773644   80958.326752  134088.161043
4  1.0  157611.453104  222992.634170   80748.798706  133742.910470

In [16]:
y = train_target
w = (np.linalg.inv(X.T.dot(X)).dot(X.T)).dot(y)
a = features_test_new.dot(w[1:]) + w[0]

In [17]:
R2_score_2 = r2_score(test_target, a)
MSE_2 = mean_squared_error(a,test_target)
print("R2_score:",R2_score_2 )
print("MSE:", MSE_2)

R2_score: 0.41176841150678556
MSE: 0.11005813020708044

In [18]:
table = pd.DataFrame(index=['R2_score','MSE'], columns=['Изменённая матрица','Неизменённая матрица'])
table['Изменённая матрица'] = R2_score_2, MSE_2
table['Неизменённая матрица'] = R2_score_1, MSE_1

In [19]:
table

          Изменённая матрица  Неизменённая матрица
R2_score            0.411768              0.411768
MSE                 0.110058              0.110058